@include keyframes('bounceInDown') {
    0%, 60%, 75%, 90%, 100% {
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        transform: translate3d(0, -100px, 0);
    }

    99% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }

    100% {
        transform: none;
    }
}

@include keyframes('parabola') {
    0% {
            transform: translate(-30px, 90px); }
    10% {
            transform: translate(-24px, 57.6px); }
    20% {
            transform: translate(-18px, 32.4px); }
    30% {
            transform: translate(-12px, 14.4px); }
    40% {
            transform: translate(-6px, 3.6px); }
    50% {
            transform: translate(0px, 0px); }
    60% {
            transform: translate(6px, 3.6px); }
    70% {
            transform: translate(12px, 14.4px); }
    80% {
            transform: translate(18px, 32.4px); }
    90% {
            transform: translate(24px, 57.6px); }
    100% {
            transform: translate(30px, 90px); }
}

@include keyframes('loader-in') {
    0% {
        transform: scale3d(1.5,1.5,1.5);
        opacity: 0.0001;
    }
    100% {
        transform: scale3d(1,1,1);
        opacity: 1;
    }
}

@include keyframes('loader-out') {
    0% {
        transform: scale3d(1,1,1);
        opacity: 1;
    }
    99% {
        transform: scale3d(0.5,0.5,0.5);
        opacity: 0.0001;
    }
    100% {
        opacity: 0.0001;
        transform: scale3d(0,0,0);
    }
}



/*
 * Pulse animation
*/

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
}
