h2 {
  @include font(24px, 28px, $font-family-regular-sans-serif);
  padding-bottom: $content-padding * 1.5;

  b, strong {
    font-family: $font-family-semibold-sans-serif;
  }

  span {
    color: lighten(getColor(default,txt), 40%);
  }
}

h3 {
  @include font(16px, 20px, $font-family-semibold-sans-serif);

  span {
    color: lighten(getColor(default,txt), 40%);
  }
}
