[data-tooltip] {
  position: relative;

  &:before, &:after {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transform: translate3d(0, 8px, 0);
    @include transition(all 222ms ease);
  }

  &:before {
    position: absolute;
    bottom: 130%;
    left: 50%;
    margin-bottom: 5px;
    margin-left: -40px;
    padding: 7px;
    width: 80px;
    border-radius: 3px;
    background-color: getColor(tooltip, bg);
    color: getColor(tooltip, txt);
    content: attr(data-tooltip);
    text-align: center;
    font-size: 14px;
    line-height: 1.2;
  }

  &:after {
    position: absolute;
    bottom: 130%;
    left: 50%;
    margin-left: -5px;
    width: 0;
    border-top: 5px solid getColor(tooltip, bg);
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    content: " ";
    font-size: 0;
    line-height: 0;
  }

  &:hover {
    &:before, &:after {
      transform: translate3d(0, 0, 0);
      visibility: visible;
      opacity: 1;
    }
  }
}
